<body>

    <div class="container w-100 px-5 py-5 my-5">
        <table class="table table-striped">

            <h1 style="float: left;" class="mb-5">
			    Pedidos
			</h1>

            <thead>
				<!-- Se crea una fila en la cabezera -->
				<tr style="border-color: rgb(14, 14, 14); background-color:#d8d6d6">
					<!-- Se crea una celda en el encabezado-->
					<th scope="col" style="color:#1e1e24;"> Folio </th>
					<!-- Se crea una celda en el encabezado-->
					<th scope="col" style="color:#1e1e24;"> Fecha </th>
                    <!-- Se crea una celda en el encabezado-->
					<th scope="col" style="color:#1e1e24;"> Correo </th>
                    <!-- Se crea una celda en el encabezado-->
					<th scope="col" style="color:#1e1e24;"> Nombre </th>
                    <!-- Se crea una celda en el encabezado-->
					<th scope="col" style="color:#1e1e24;"> Cantidad </th>
                    <!-- Se crea una celda en el encabezado-->
					<th scope="col" style="color:#1e1e24;"> Precio </th>
                    <!-- Se crea una celda en el encabezado-->
					<th scope="col" style="color:#1e1e24;"> Status </th>
                    <!-- Se crea una celda en el encabezado-->
					<th scope="col" style="color:#1e1e24;">- </th>
				</tr>
			</thead>

            <tbody>
                    
				<!--Busca dentro de los json -->
				{{#each per}}
				<!-- Se crea una fila en la cabezera -->
				<tr>
					<!-- Se crea una celda que contiene datos -->
					<td style="color: #1e1e24; background-color: white">{{Folio}}</td>
					<!-- Se crea una celda que contiene datos -->
					<td style="color: #1e1e24; background-color: white">{{Fecha}}</td>
                    <!-- Se crea una celda que contiene datos -->
					<td style="color: #1e1e24; background-color: white">{{correoUsuario}}</td>
					<!-- Se crea una celda que contiene datos -->
					<td style="color: #1e1e24; background-color: white">{{nombre}}</td>
                    <!-- Se crea una celda que contiene datos -->
					<td style="color: #1e1e24; background-color: white">{{cantidad}}</td>
					<!-- Se crea una celda que contiene datos -->
					<td style="color: #1e1e24; background-color: white">{{precio}}</td>
                    <!-- Se crea una celda que contiene datos -->
					<td style="color: #1e1e24; background-color: white">{{Status}}</td>
                    <td style="background-color: white">
						<!-- Enlace a la funcion elimina -->
						<!-- Se crea una division para el boton -->



					
					<!-- Enlace a la funcion elimina -->
						<a href="/updateStatus/{{Folio}}">
							<!-- Boton -->
							<button type="button" class="btn btn-danger me-2">
								Editar Status
							</button>
						</a>
					
					</td>
				</tr>
				{{/each}}
			</tbody>
				

        </table>
    </div>

</body>